* {
  font-weight: 100;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Mochiy Pop P One", sans-serif;
  font-style: normal;
}

.top-btn {
  width: 60px;
  height: 60px;
  background-color: #ff58a8;
  position: fixed;
  z-index: 10;
  right: 60px;
  bottom: 70px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px #980049;
  cursor: pointer;
  opacity: 0;
  transition: 0.5s;
}
.top-btn img {
  width: 30px;
  height: auto;
}
.top-btn p {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.main-visu-wrap {
  width: 100%;
  height: 160vh;
  background-color: #93e5ff;
}
.main-visu-wrap__catchcopy {
  height: 12%;
  width: 98%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  transform: translateY(40px);
}
.main-visu-wrap__catchcopy img {
  height: 100%;
  width: auto;
  margin-left: 32px;
}
.main-visu-wrap__catchcopy:first-child {
  margin-left: 5px;
}
.main-visu-wrap__chara-ttl {
  width: 95%;
  height: 45%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.main-visu-wrap__chara-ttl__chara1 {
  width: auto;
  height: 100%;
}
.main-visu-wrap__chara-ttl__ttl-wrap {
  width: auto;
  height: 100%;
  padding-top: 50px;
}
.main-visu-wrap__chara-ttl__ttl-wrap__ttl {
  width: 100%;
  height: auto;
}
.main-visu-wrap__chara-ttl__ttl-wrap__download {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.main-visu-wrap__chara-ttl__ttl-wrap__download__app {
  margin-top: 13px;
  width: 190px;
  height: auto;
}
.main-visu-wrap__chara-ttl__ttl-wrap__download__google {
  width: 250px;
  height: auto;
}
.main-visu-wrap__chara-ttl__ttl-wrap p {
  margin-top: 20px;
  font-size: 24px;
  font-family: "Mochiy Pop P One", sans-serif;
  text-align: center;
  letter-spacing: 12px;
}
.main-visu-wrap__chara-ttl__chara2 {
  width: auto;
  height: 60%;
}

.feature1-wrap {
  width: 100%;
  height: 95vh;
  background-color: #ffd43b;
  position: relative;
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: bold;
  color: #8c4300;
}
.feature1-wrap__fukidasi {
  width: 70%;
  height: 500px;
  margin: 0 auto;
  transform: translateY(-390px);
}
.feature1-wrap__fukidasi img {
  width: 100%;
  height: auto;
}
.feature1-wrap__fukidasi__first-line {
  text-align: center;
  font-size: 32px;
  letter-spacing: 8px;
  transform: translateY(-370px);
  color: #000333;
}
.feature1-wrap__fukidasi__second-line {
  font-size: 48px;
  text-align: center;
  letter-spacing: 15px;
  transform: translateY(-360px);
  color: #000333;
}
.feature1-wrap__fukidasi__second-line span {
  color: #ff58a8;
}
.feature1-wrap__content {
  width: 65%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.feature1-wrap__content__left {
  width: 485px;
  height: 100%;
}
.feature1-wrap__content__left__1 {
  font-size: 30px;
  margin-bottom: 16px;
  letter-spacing: 5px;
}
.feature1-wrap__content__left__main-text {
  font-size: 45px;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: 5px;
}
.feature1-wrap__content__left__generation {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.feature1-wrap__content__left__generation__showa {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.feature1-wrap__content__left__generation__heisei {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.feature1-wrap__content__left__generation__reiwa {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}
.feature1-wrap__content__left__text {
  text-align: center;
  font-size: 24px;
  letter-spacing: 3px;
}
.feature1-wrap__content__left__text span {
  font-size: 32px;
}
.feature1-wrap__content__right {
  width: 375px;
  height: 100%;
}

.feature2-wrap {
  width: 100%;
  height: 95vh;
  background-color: #a974ff;
  position: relative;
  color: #512599;
}
.feature2-wrap__content {
  width: 70%;
  height: 460px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.feature2-wrap__content__left {
  width: 375px;
  height: 100%;
}
.feature2-wrap__content__right {
  width: 485px;
  height: 100%;
}
.feature2-wrap__content__right__2 {
  font-size: 30px;
  margin-bottom: 16px;
  letter-spacing: 5px;
}
.feature2-wrap__content__right__main-text {
  font-size: 45px;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: 7px;
}
.feature2-wrap__content__right__illust-wrap {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
}
.feature2-wrap__content__right__illust-wrap__item {
  width: 240px;
  height: 100%;
  border-radius: 15px;
}
.feature2-wrap__content__right__illust-wrap__coin {
  width: 130px;
  height: 80%;
  border-radius: 15px;
}
.feature2-wrap__content__right p {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 5px;
}

.feature3-wrap {
  width: 100%;
  height: 95vh;
  background-color: #ff58a8;
  position: relative;
  color: #980049;
}
.feature3-wrap__content {
  width: 65%;
  height: 460px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.feature3-wrap__content__left {
  width: 485px;
  height: 100%;
}
.feature3-wrap__content__left__3 {
  font-size: 30px;
  margin-bottom: 16px;
  letter-spacing: 5px;
}
.feature3-wrap__content__left__main-text {
  font-size: 45px;
  text-align: center;
  margin-bottom: 24px;
  letter-spacing: 7px;
}
.feature3-wrap__content__left p {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 6px;
}
.feature3-wrap__content__right {
  width: 375px;
  height: 100%;
}

.news-wrap {
  width: 100%;
  height: 120vh;
  background-color: #93e5ff;
  padding-top: 100px;
}
.news-wrap__content {
  width: 850px;
  height: 340px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.news-wrap__content__title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
}
.news-wrap__content__element {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}
.news-wrap__content__element__date {
  width: 30%;
  font-size: 16px;
  font-family: "Mochiy Pop P One", sans-serif;
  line-height: 70px;
  text-align: center;
}
.news-wrap__content__element__detail {
  width: 70%;
  text-align: center;
  font-size: 16px;
  font-family: "Mochiy Pop P One", sans-serif;
  line-height: 70px;
}
.news-wrap__content__element__detail a {
  text-decoration: none;
}
.news-wrap__content__element__detail a span {
  color: #ff58a8;
  border-bottom: solid 1px #ff58a8;
}
.news-wrap__download {
  width: 430px;
  height: 195px;
  margin: 0 auto;
}
.news-wrap__download__delivery {
  font-size: 32px;
  text-align: center;
  margin-bottom: 24px;
}
.news-wrap__download__text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}
.news-wrap__download__wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45%;
}
.news-wrap__download__wrap__app {
  margin-top: 13px;
  width: 180px;
  height: auto;
}
.news-wrap__download__wrap__google {
  width: 240px;
  height: auto;
}

.footer {
  width: 100%;
  height: 180px;
  background-color: #fff;
  position: relative;
}

.footer-wrap {
  width: 650px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.footer-wrap__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-wrap__element img {
  width: 20%;
  height: auto;
}
.footer-wrap__element__text {
  font-size: 14px;
  cursor: pointer;
}
.footer-wrap__mail {
  font-size: 14px;
  text-align: center;
}

.footer-wrap__element__text a:link {
  color: #000333;
  text-decoration: none;
}

.footer-wrap__element__text a:visited {
  color: #000333;
  text-decoration: none;
}