$main-visu-background: #93e5ff;
$feature1-background: #ffd43b;
$feature2-background: #a974ff;
$feature3-background: #ff58f8;
$news-background: #93e5ff;
$footer-background: #fff;


html,body{
    width: 100%;
    height: 100%;
}

.main-visu-wrap{
    width: 100%;
    height: 1200px;
    background-color: $main-visu-background;
}

// 特徴1
.feature1-wrap{
    width: 100%;
    height: 665px;
    background-color: $feature1-background;
    position: relative;
    &__content{
        width: 940px;
        height: 460px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        &__left{
            width: 485px;
            height: 100%;
            &__1{
                font-size: 30px;
                margin-bottom: 16px;
            }
            &__main-text{
                font-size: 45px;
                text-align: center;
                margin-bottom: 24px;
            }
            &__generation{
                width: 100%;
                height: 150px;
                display: flex;
                justify-content: space-around;
                margin-bottom: 15px;
                &__showa{
                    width: 125px;
                    height: 125px;
                    border: solid 1px black;
                    border-radius: 50%;
                }
                &__heisei{
                    width: 125px;
                    height: 125px;
                    border: solid 1px black;
                    border-radius: 50%;
                }
                &__reiwa{
                    width: 125px;
                    height: 125px;
                    border: solid 1px black;
                    border-radius: 50%;
                }
            }
            &__text{
                text-align: center;
            }
        }
        &__right{
            width: 375px;
            height: 100%;
            border: solid 1px black;
        }
    }
}

// 特徴2
.feature2-wrap{
    width: 100%;
    height: 665px;
    background-color: $feature2-background;
    position: relative;
    &__content{
        width: 940px;
        height: 460px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        &__left{
            width: 375px;
            height: 100%;
            border: solid 1px black;
        }
        &__right{
            width: 485px;
            height: 100%;
            &__2{
                font-size: 30px;
                margin-bottom: 16px;
            }
            &__main-text{
                font-size: 45px;
                text-align: center;
                margin-bottom: 24px;
            }
            &__text{
                text-align: center;
                margin-bottom: 27px;
            }
            &__illust-wrap{
                width: 100%;
                height: 163px;
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                align-items: flex-end;
                &__item{
                    width: 125px;
                    height: 130px;
                    border: solid 1px black;
                    border-radius: 15px;
                }
                &__coin{
                    width: 125px;
                    height: 130px;
                    border: solid 1px black;
                    border-radius: 15px;
                }
            }
        }
    }
}

// 特徴3
.feature3-wrap{
    width: 100%;
    height: 665px;
    background-color: $feature3-background;
    position: relative;
    &__content{
        width: 940px;
        height: 460px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        display: flex;
        justify-content: space-between;
        &__left{
            width: 485px;
            height: 100%;
            &__3{
                font-size: 30px;
                margin-bottom: 16px;
            }
            &__main-text{
                font-size: 45px;
                text-align: center;
                margin-bottom: 24px;
            }
            &__illust{
                width: 100%;
                height: 235px;
                border: black solid 1px;
            }
        }
        &__right{
            width: 375px;
            height: 100%;
            border: solid 1px black;
        }

    }
}

// お知らせ
.news-wrap{
    width: 100%;
    height: 945px;
    background-color: #93e5ff;
}

.footer{
    width: 100%;
    height: 180px;
    background-color: $footer-background;
}